<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.fitnessapp">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitnessApp"
        tools:targetApi="31">

        <!-- Service Declaration -->
        <service
            android:name=".StepCounterService"
            android:exported="false" />

        <!-- Main Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
        </activity>

        <!-- Dashboard Activity -->
        <activity
            android:name=".DashboardActivity"
            android:exported="true" />

        <!-- Workout Log Activity -->
        <activity
            android:name=".WorkoutLogActivity"
            android:exported="true" />

        <!-- Goals Achievements Activity -->
        <activity
            android:name=".GoalsAchievementsActivity"
            android:exported="true" />

        <!-- Health Score Activity -->
        <activity
            android:name=".HealthScoreActivity"
            android:exported="true" />

        <!-- Edit Workout Activity -->
        <activity
            android:name=".EditWorkoutActivity"
            android:exported="true" />

        <!-- Login Activity -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

    </application>

</manifest>
